In [1]:
df = pd.read_excel("process.xlsx")
df

,Prozess,Maschinentyp,Temperatur,Parameter1,Parameter2,Ausbeute,Fehlerquote
0,A,X2,22.00,4,2,0.90,0.005
1,B,X2,23.20,4,1,0.85,NaN
2,C,X3,23.15,7,3,0.98,0.002
3,D,X3,23.40,4,4,0.91,0.009

In [2]:
def ausbeute_qualitativ(ausbeute):
    if ausbeute > 0.95:
        return "hoch"
    elif ausbeute > 0.9:
        return "mittel"
    else:
        return "niedrig"
    
df['Ausbeute_qualitativ'] = df['Ausbeute'].apply(ausbeute_qualitativ)
df

,Prozess,Maschinentyp,Temperatur,Parameter1,Parameter2,Ausbeute,Fehlerquote,Ausbeute_qualitativ
0,A,X2,22.00,4,2,0.90,0.005,niedrig
1,B,X2,23.20,4,1,0.85,NaN,niedrig
2,C,X3,23.15,7,3,0.98,0.002,hoch
3,D,X3,23.40,4,4,0.91,0.009,mittel

In [5]:
#df.iloc[(df['num']-input).abs().argsort()[:2]]
df['Fehlerquote'].argsort()[:2]

0    1
1   -1
Name: Fehlerquote, dtype: int64

In [7]:
df = pd.read_csv(
    "Manufacturing_Process.csv",
    parse_dates=['time_stamp'],
    index_col=0,
)

In [11]:
df.index.get_loc("2019-03-06 10:52:33")

0